asgiref
certifi
charset-normalizer
cloudinary
distlib
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-environ
django-extensions
django-filter
django-secure
django-storages
djangorestframework
djangorestframework-simplejwt
filelock
idna
package_name
pillow
platformdirs
psycopg2
PyJWT
python-decouple
python-dotenv
requests
six
sqlparse
typing_extensions
tzdata
urllib3
virtualenv